<div class="flex flex-justify-center">
  <div class="container">
    <div class="div-principal">
      <div class="flex-column">
        <h2 class="cor-titulo-escuro">NÓS SOMOS A ESCOLA DE SOFTWARE</h2>
        <p>Nós fazemos a <b class="cor-titulo-escuro">diferença</b> e transformação através de código e implementações
          em
          nuvem AWS, <b class="cor-titulo-escuro">preparando profissionais</b> para o mercado de trabalho e para <b
            class="cor-titulo-escuro">certificações</b>.</p>
        <p>Somos especialistas em treinamento de pessoas, sendo focados em <b class="cor-titulo-escuro">nuvem AWS</b> e
          desenvolvimento
          <b class="cor-titulo-escuro">BACK-END</b>
        </p>
      </div>
      <div class="div-imagens">
        <div class="container div-imagens-filha">
          <img src="assets/aws.webp" width="256" height="256" alt="Amazon Web Services" />
          <img src="assets/csharp.webp" width="226" height="226" alt="C#" />
        </div>
      </div>
    </div>
  </div>
</div>
