<div class="flex flex-justify-center cor-fundo-escuro">
  <div class="container">
    <div class="flex flex-space-between item-pc">
      <div class="flex-column full-width">
        <h2 class="cor-titulo-claro">AWS CLOUD PRACTITIONER ELITE</h2>
        <p>Nosso próximo lançamento, a escola de software está lançando um novo curso
          preparatório para a certificação
          da AWS Cloud Practitioner.
          Nosso diferencial conta com exercícios em cada aula, revisão de módulo, exercício de módulo, hands-on com
          evolução da arquitetura, simulado e garantia de aprovação.</p>
        <p>Seja aprovado ou receba seu dinheiro de volta. Caso você seja aprovado em
          nosso simulado e não seja aprovado
          na prova da AWS, nós devolvemos o seu dinheiro.
        </p>
      </div>
      <div class="flex flex-align-center flex-justify-end full-width">
        <div class="container flex flex-align-center flex-justify-center">
          <img src="assets/CP_ELITE.webp" width="256" height="256" alt="Cloud Practitioner ELITE" />
        </div>
      </div>
    </div>
    <div class="flex flex-column item-mobile">
      <h2 class="cor-titulo-claro">AWS CLOUD PRACTITIONER ELITE</h2>
      <p>Nosso próximo lançamento, a escola de software está lançando um novo curso
        preparatório para a certificação
        da AWS Cloud Practitioner.
        Nosso diferencial conta com exercícios em cada aula, revisão de módulo, exercício de módulo, hands-on com
        evolução da arquitetura, simulado e garantia de aprovação.</p>
      <p>Seja aprovado ou receba seu dinheiro de volta. Caso você seja aprovado em
        nosso simulado e não seja aprovado
        na prova da AWS, nós devolvemos o seu dinheiro.
      </p>
      <div class="container flex flex-align-center flex-justify-center">
        <img src="assets/CP_ELITE.webp" width="256" height="256" alt="Cloud Practitioner ELITE" />
      </div>
      <br />
    </div>
    <br />
    <div class="flex flex-justify-center">
      <button mat-raised-button color="primary">SAIBA MAIS</button>
    </div>
    <br />
    <br />
  </div>
</div>
